@import "./index.css";

.header {
  grid-area: header;
  height: auto;
  margin-top: -45px;
  width: 100%;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin: 0;
  color: var(--main-h1-color);
  padding: 5px;
}

h2 {
  font-family: "PT Sans", sans-serif;
  font-size: 0.7em;
  font-weight: 400;
  margin: 0;
  color: var(--main-h1-color);
}

.button {
  background-color: var(--main-btn-color);
  border: none;
  border-radius: 4px;
  padding: 15px white;
  color: white;
  width: 130px;
  height: 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 10px;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  left:calc(100% - 74px);
  top: 10px;
  width: 60px;
  height: 34px;
  border: solid transparent 4px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--main-btn-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color:gray;
  background-color: var(--main-bg-color);
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: var(--main-btn-color);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.searchwrap{
  width: 170px;
  position: absolute;
  top: 14px;
  left: 10px;

}

@media screen and (max-width: 650px) {
  .searchwrap{
    position: relative;
    margin: 0 auto;
  }
  .search {
    width: 100%;
    position: relative;
    display: flex;
    margin-left: -7%;
  }
}
